body {
  color: #37424a;
  font-family: "Source Sans Pro", Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
}

a {
  color: #00a8c8;
}

a:hover {
  color: #006d9e;
}

#acquisition {
  padding: 0 1em;
  text-align: center;
}

#acquisition h1 {
  font-size: 1em;
  margin: 3em 2em 1.2em 2em;
  max-width: 100%;
  position: relative;
  left: 0.4em;
}

#acquisition h1 a {
  display: inline-block;
  max-width: 100%;
}

#acquisition h1 img {
  display: inline-block;
  max-width: 100%;
  width: 12em;
}

#acquisition-celent-link {
  display: inline-block;
  margin: 2.4em 2em 2em 2em;
  max-width: 100%;
}

#acquisition-celent-link img {
  display: inline-block;
  max-width: 100%;
  width: 12em;
}

#acquisition p {
  margin: 0 auto;
  max-width: 40em;
  padding: 1em 0;
}
